<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="admins.css">
</head>
<body>
    <nav>
        <ul>
            <li><a>Admin Page</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/items">Items</a></li>
            <% if (username) { %>
                <li style="float:right"><a class="active" href="/logout">Logout</a></li>
                <li style="float:right"><a class="active" href="#about"><%= username %>!</a></li>
            <% } else { %>
        <% } %>
        </ul>
    </nav>
    <div class="container">
        <h1>Add New Item</h1>
        <form action="/admin/addItem" method="post">
            <div class="form-group">
                <label for="pictures">Pictures URLs (comma-separated):</label>
                <input type="text" id="pictures" name="pictures" required>
            </div>
            <div class="form-group">
                <label for="name_en">Name (English):</label>
                <input type="text" id="name_en" name="name_en" required>
            </div>
            <div class="form-group">
                <label for="name_localized">Name (Localized):</label>
                <input type="text" id="name_localized" name="name_localized">
            </div>
            <div class="form-group">
                <label for="description_en">Description (English):</label>
                <textarea id="description_en" name="description_en" required></textarea>
            </div>
            <div class="form-group">
                <label for="description_localized">Description (Localized):</label>
                <textarea id="description_localized" name="description_localized"></textarea>
            </div>
            <button type="submit">Add Item</button>
        </form>

        <!-- Edit Item Form -->
        <h1>Edit Item</h1>
        <form action="/admin/updateItem/:id" method="post">
            <div class="form-group">
                <label for="edit_id">Select Item to Edit:</label><br>
                <select id="edit_id" name="id">
                    <% items.forEach(item => { %>
                        <option value="<%= item._id %>"><%= item._id %></option>
                    <% }) %>
                </select><br>
            </div>
            <div class="form-group">
                <label for="edit_pictures">Pictures URLs (comma-separated):</label>
                <input type="text" id="edit_pictures" name="edit_pictures" required>
            </div>
            <div class="form-group">
                <label for="edit_name_en">Name (English):</label>
                <input type="text" id="edit_name_en" name="edit_name_en" required>
            </div>
            <div class="form-group">
                <label for="edit_name_localized">Name (Localization):</label>
                <input type="text" id="edit_name_localized" name="edit_name_localized">
            </div>
            <div class="form-group">
                <label for="edit_description_en">Description (English):</label>
                <textarea id="edit_description_en" name="edit_description_en" required></textarea>
            </div>
            <div class="form-group">
                <label for="edit_description_localized">Description (Localization):</label>
                <textarea id="edit_description_localized" name="edit_description_localized"></textarea>
            </div>
            <button type="submit">Edit Item</button>
        </form>

        <!-- Delete Item Form -->
        <h1>Delete Item</h1>
        <form action="/admin/deleteItem" method="post">
            <div class="form-group">
                <label for="delete_id">Item ID to Delete:</label><br>
                <select id="delete_id" name="delete_id">
                    <% items.forEach(item => { %>
                        <option value="<%= item._id %>"><%= item._id %></option>
                    <% }) %>
                </select><br>
            </div>
            <button type="submit">Delete Item</button>
        </form>
    </div>
    <footer>
        <p>Arman Erzen SE-2210</p>
    </footer>
</body>
</html>